<h2 class="page-header"> Search Authors </h2> 
<form action="/authors" method="GET">
    <label> Name </label>
    <input type="text" name="name" value=<%= searchOptions.name %>>
    <button type="submit"> Search </button>
</form>
<br>
<% authors.forEach(author => { %>
    <div> <%= author.name %> </div>
<div class="btn-row">
    <!-- j'écris les urls dépendant des routes prédéfinies -->
    <!-- For the View Author by Id-->
    <a class="btn btn-primary" href="/authors/<%= author.id %>">View</a>
    <a class="btn btn-primary" href="/authors/<%= author.id %>/edit">Edit</a>

    <!-- For the delete i should use a new 
    delete form and use the override-method library-->
    <!-- The post method will be overriden by _method content-->
    <!-- Include the form from the partials -->
    <%- include('../partials/deleteForm', 
        //Use string interpolations `` for things inside the server to be understandable
        { url: `/authors/${author.id}` }) %>
</div>
<% }) %> 